@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light {
  --primary: #e4e4e4;
  --card: #e9e9e9;
  --secondary: #205dc0;
  --background: #fefefe;
  --text-primary: #1e1e1e;
  --text-secondary: #1e1e1e9d;
  --border-color: #0000005d;
}

.dark {
  --primary: #171717;
  --card: #262626;
  --secondary: #7a4291;
  --background: #000000;
  --text-primary: #ededed;
  --text-secondary: #ededed6c;
  --border-color: #fefefe3c;
}